<div class="d-flex justify-content-center align-items-center fs-3 mt-4">
  <p>Failure</p>
  <a href="/" class="mercadopago-button p-3">Volver al home</a>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="failure"></script>