<div class="d-flex flex-column justify-content-center align-items-center fs-3 mt-4">
  <table class="table table-bordered">
  <tbody>
    <tr>
      <td>Payment type</td>
      <td>External reference</td>
      <td>Collection Id</td>
    </tr>
    <tr>
      <td>{{ payment_type }}</td>
      <td>{{ external_reference }}</td>
      <td>{{ collection_id }}</td>
    </tr>
  </tbody>
</table>
  <a href="/" class="mercadopago-button p-3">Volver al home</a>
</div>